In [1]:
# Importing libraries
import pandas as pd
import numpy as np

In [2]:
# Importing more libraries
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.model_selection import StratifiedKFold
%matplotlib inline

In [6]:
import sys
# reload(sys)
# sys.setdefaultencoding('utf-8')

In [4]:
# # Xpath
# part_1 = "//div[@class='lister-list']/div[@class='lister-item mode-advanced']["
# part_2 = "]/div[@class='lister-item-content']/h3[@class='lister-item-header']/a/@href"
# # url link to imdb search results
# url_1 = "http://www.imdb.com/search/title?adult=include&countries=us&languages=en&num_votes=1000,&release_date=2005,&title_type=tv_series&user_rating=1.0,10&sort=user_rating,desc&view=advanced"
# url_2 = "&page="
# url_3 = "&ref_=adv_nxt"

In [5]:
# # Webscrapping imdb movie_id list
# id_list = []
# for u in range(1, 29):
#     URL = (url_1 + url_2 + str(u))
#     r = requests.get(URL)
#     HTML = r.text
#     for i in range(1, 51):
#         a_tag = Selector(text=HTML).xpath(part_1+str(i)+part_2).extract()
#         for a in a_tag:
#             id_list.append(a[7:16])

In [8]:
# # Function to access the tv maze app, retrieve data and also accesses the imdb page to webscrape some more information
# # converts data into dataframe
# def get_movie_info(entry):
#     res=requests.get('http://api.tvmaze.com/lookup/shows?imdb='+entry)
#     if res.status_code == 200:
#         results = json.loads(res.text)
        
#         try:
#             name = results['name']
#         except TypeError:
#             name = 'NaN'

#         try:
#             rating =  results['rating']['average']
#         except TypeError:
#             rating = 'NaN'

#         try:
#             genres = results['genres']
#         except TypeError:
#             genres = 'NaN'

#         try:
#             network = results['network']['name']
#         except TypeError:
#             network = 'NaN'

#         try:
#             premiered = results['premiered']
#         except TypeError:
#             premiered = 'NaN'

#         try:
#             status = results['status']
#         except TypeError:
#             status = 'NaN'

#         try:
#             types = results['type']
#         except TypeError:
#             types = 'NaN'
        
#         try:
#             show_id = results['id']
#         except TypeError:
#             show_id = 'NaN'
            
#         url = "http://www.imdb.com/title/" + entry + "/reviews?ref_=tt_urv"
#         r = requests.get(url)
#         HTML = r.text
#         path1 = "//div[@id='tn15content']/p["
#         path2 = "]/text()"
#         a_tag_list = []
#         for i in range(1, 11):
#             try:
#                 a_tag = Selector(text=HTML).xpath(path1 + str(i) + path2).extract()
#                 a_tag_list.append(a_tag[0])
#             except:
#                 a_tag_list.append('NaN')
           
#         res2 = requests.get('http://api.tvmaze.com/shows/' + str(show_id) + '/crew')
#         crew_list_i = []
#         if res2.status_code == 200:
#             results2 = json.loads(res2.text)
#             for number in range(len(results2)):
#                 try:
#                     crew_list_i.append(results2[number]['person']['name'])
#                 except:
#                     pass
#         crew_set = set(crew_list_i)
#         crew_list = list(crew_set)
        
#         res3 = requests.get('http://api.tvmaze.com/shows/' + str(show_id))
#         if res3.status_code == 200:
#             results3 = json.loads(res3.text)
            
#             try:
#                 summary = results['summary']
#             except:
#                 summary = 'NaN'
            

        
#         shows.loc[len(shows)] = [name, rating, genres, network, premiered, status, types, crew_list, summary, a_tag_list]

In [9]:
# shows = pd.DataFrame(columns = ['show_name', 'rating_avg', 'genres', 'network', 'premiere_date', 'status', 'types', 'crew', 'summary', 'reviews'])

# counter = 0
# for entry in id_list:
#     get_movie_info(entry)
#     counter = counter + 1
#     print counter

In [10]:
# shows.head()

,show_name,rating_avg,genres,network,premiere_date,status,types,crew,summary,reviews
0,Critical Role,NaN,[Adventure],NaN,2015-03-13,Running,Game Show,[],<p>Voice actor Matthew Mercer leads a group of...,[\n9 voice actors get together and play Dungeo...
1,Game of Thrones,9.3,"[Drama, Adventure, Fantasy]",HBO,2011-04-17,Running,Scripted,"[Katie Weiland, Lisa Byrne, George R. R. Marti...",<p>Based on the bestselling book series <i>A S...,[\nDo not believe any of those negative review...
2,Breaking Bad,9.3,"[Drama, Crime, Thriller]",AMC,2008-01-20,Ended,Scripted,"[Mark Johnson, Gina Scheerer, Andrew Ortner, V...",<p><b>Breaking Bad</b> follows protagonist Wal...,[\nI probably haven't been hooked to a TV show...
3,Rick and Morty,9.4,"[Comedy, Adventure, Science-Fiction]",Adult Swim,2013-12-02,Running,Animation,"[Joe Russo II, Dan Guterman, Ryan Ridley, Tom ...","<p>Rick is a mentally gifted, but sociopathic ...",[\nThis show is honestly great. It is easily t...
4,Sherlock,9.2,"[Drama, Crime, Mystery]",BBC One,2010-07-25,To Be Determined,Scripted,"[Charlotte Ashby, Jeremy Child, Suzie Lavelle,...",<p>Sherlock Holmes and Dr. John Watson's adven...,"[\n..with delight. A brilliantly written, well..."

In [11]:
shows.to_pickle('shows.pkl')

In [7]:
df = pd.read_pickle('shows.pkl')

In [8]:
df.head()

,show_name,rating_avg,genres,network,premiere_date,status,types,crew,summary,reviews
0,Critical Role,NaN,[Adventure],NaN,2015-03-13,Running,Game Show,[],<p>Voice actor Matthew Mercer leads a group of...,[\n9 voice actors get together and play Dungeo...
1,Game of Thrones,9.3,"[Drama, Adventure, Fantasy]",HBO,2011-04-17,Running,Scripted,"[Katie Weiland, Lisa Byrne, George R. R. Marti...",<p>Based on the bestselling book series <i>A S...,[\nDo not believe any of those negative review...
2,Breaking Bad,9.3,"[Drama, Crime, Thriller]",AMC,2008-01-20,Ended,Scripted,"[Mark Johnson, Gina Scheerer, Andrew Ortner, V...",<p><b>Breaking Bad</b> follows protagonist Wal...,[\nI probably haven't been hooked to a TV show...
3,Rick and Morty,9.4,"[Comedy, Adventure, Science-Fiction]",Adult Swim,2013-12-02,Running,Animation,"[Joe Russo II, Dan Guterman, Ryan Ridley, Tom ...","<p>Rick is a mentally gifted, but sociopathic ...",[\nThis show is honestly great. It is easily t...
4,Sherlock,9.2,"[Drama, Crime, Mystery]",BBC One,2010-07-25,To Be Determined,Scripted,"[Charlotte Ashby, Jeremy Child, Suzie Lavelle,...",<p>Sherlock Holmes and Dr. John Watson's adven...,"[\n..with delight. A brilliantly written, well..."

In [9]:
# data cleaning
def remove_html(string):
    return re.sub(r'<.+?>', '', string)

In [10]:
# stripping html tag characters
df['summary'] = df['summary'].apply(lambda x: remove_html(x))

In [11]:
df.head()

,show_name,rating_avg,genres,network,premiere_date,status,types,crew,summary,reviews
0,Critical Role,NaN,[Adventure],NaN,2015-03-13,Running,Game Show,[],Voice actor Matthew Mercer leads a group of fe...,[\n9 voice actors get together and play Dungeo...
1,Game of Thrones,9.3,"[Drama, Adventure, Fantasy]",HBO,2011-04-17,Running,Scripted,"[Katie Weiland, Lisa Byrne, George R. R. Marti...",Based on the bestselling book series A Song of...,[\nDo not believe any of those negative review...
2,Breaking Bad,9.3,"[Drama, Crime, Thriller]",AMC,2008-01-20,Ended,Scripted,"[Mark Johnson, Gina Scheerer, Andrew Ortner, V...","Breaking Bad follows protagonist Walter White,...",[\nI probably haven't been hooked to a TV show...
3,Rick and Morty,9.4,"[Comedy, Adventure, Science-Fiction]",Adult Swim,2013-12-02,Running,Animation,"[Joe Russo II, Dan Guterman, Ryan Ridley, Tom ...","Rick is a mentally gifted, but sociopathic and...",[\nThis show is honestly great. It is easily t...
4,Sherlock,9.2,"[Drama, Crime, Mystery]",BBC One,2010-07-25,To Be Determined,Scripted,"[Charlotte Ashby, Jeremy Child, Suzie Lavelle,...",Sherlock Holmes and Dr. John Watson's adventur...,"[\n..with delight. A brilliantly written, well..."

In [12]:
# stripping newline spaces
df['reviews'] = df.reviews.map(lambda y: [x.replace('\n','') for x in y])

In [13]:
df.shape

(1268, 10)

In [14]:
df.isnull().sum()

show_name          0
rating_avg       130
genres             0
network            0
premiere_date      0
status             0
types              0
crew               0
summary            0
reviews            0
dtype: int64

In [15]:
df.types.value_counts()

Scripted       921
Reality        146
Animation      119
Documentary     30
Talk Show       22
Variety         14
Game Show       10
Sports           3
News             3
Name: types, dtype: int64

In [16]:
# dropping rows where targe is missing
df.dropna(axis=0, inplace=True)

In [17]:
df.isnull().sum()

show_name        0
rating_avg       0
genres           0
network          0
premiere_date    0
status           0
types            0
crew             0
summary          0
reviews          0
dtype: int64

In [18]:
df.shape

(1138, 10)

In [19]:
df.head()

,show_name,rating_avg,genres,network,premiere_date,status,types,crew,summary,reviews
1,Game of Thrones,9.3,"[Drama, Adventure, Fantasy]",HBO,2011-04-17,Running,Scripted,"[Katie Weiland, Lisa Byrne, George R. R. Marti...",Based on the bestselling book series A Song of...,[Do not believe any of those negative reviews....
2,Breaking Bad,9.3,"[Drama, Crime, Thriller]",AMC,2008-01-20,Ended,Scripted,"[Mark Johnson, Gina Scheerer, Andrew Ortner, V...","Breaking Bad follows protagonist Walter White,...",[I probably haven't been hooked to a TV show l...
3,Rick and Morty,9.4,"[Comedy, Adventure, Science-Fiction]",Adult Swim,2013-12-02,Running,Animation,"[Joe Russo II, Dan Guterman, Ryan Ridley, Tom ...","Rick is a mentally gifted, but sociopathic and...",[This show is honestly great. It is easily the...
4,Sherlock,9.2,"[Drama, Crime, Mystery]",BBC One,2010-07-25,To Be Determined,Scripted,"[Charlotte Ashby, Jeremy Child, Suzie Lavelle,...",Sherlock Holmes and Dr. John Watson's adventur...,"[..with delight. A brilliantly written, well a..."
5,Last Week Tonight with John Oliver,9.0,[Comedy],HBO,2014-04-27,Running,Talk Show,"[Tim Carvell, Jon Thoday]","On Last Week Tonight with John Oliver, John Ol...",[Loved John Oliver on Community and love him o...

In [20]:
df.genres

1                [Drama, Adventure, Fantasy]
2                   [Drama, Crime, Thriller]
3       [Comedy, Adventure, Science-Fiction]
4                    [Drama, Crime, Mystery]
5                                   [Comedy]
                        ...
1255                                      []
1258                                      []
1262                                 [Drama]
1263                                      []
1267                                      []
Name: genres, Length: 1138, dtype: object

In [21]:
# unpacking list
df['genres'] = df['genres'].apply(lambda x: '|'.join(map(str, x)))

In [22]:
df.genres.value_counts()

Comedy                                  197
                                         96
Drama                                    45
Drama|Crime                              44
Drama|Comedy                             43
                                       ...
Drama|Crime|Science-Fiction|Thriller      1
Comedy|Crime|Legal                        1
Drama|Comedy|Adventure                    1
Comedy|War                                1
Comedy|Children|Fantasy                   1
Name: genres, Length: 247, dtype: int64

In [23]:
# unpacking list
df['crew'] = df['crew'].apply(lambda x: '|'.join(map(str, x)))

In [24]:
df.head()

,show_name,rating_avg,genres,network,premiere_date,status,types,crew,summary,reviews
1,Game of Thrones,9.3,Drama|Adventure|Fantasy,HBO,2011-04-17,Running,Scripted,Katie Weiland|Lisa Byrne|George R. R. Martin|A...,Based on the bestselling book series A Song of...,[Do not believe any of those negative reviews....
2,Breaking Bad,9.3,Drama|Crime|Thriller,AMC,2008-01-20,Ended,Scripted,Mark Johnson|Gina Scheerer|Andrew Ortner|Vince...,"Breaking Bad follows protagonist Walter White,...",[I probably haven't been hooked to a TV show l...
3,Rick and Morty,9.4,Comedy|Adventure|Science-Fiction,Adult Swim,2013-12-02,Running,Animation,Joe Russo II|Dan Guterman|Ryan Ridley|Tom Kauf...,"Rick is a mentally gifted, but sociopathic and...",[This show is honestly great. It is easily the...
4,Sherlock,9.2,Drama|Crime|Mystery,BBC One,2010-07-25,To Be Determined,Scripted,Charlotte Ashby|Jeremy Child|Suzie Lavelle|Nev...,Sherlock Holmes and Dr. John Watson's adventur...,"[..with delight. A brilliantly written, well a..."
5,Last Week Tonight with John Oliver,9.0,Comedy,HBO,2014-04-27,Running,Talk Show,Tim Carvell|Jon Thoday,"On Last Week Tonight with John Oliver, John Ol...",[Loved John Oliver on Community and love him o...

In [25]:
# unpacking list
df['reviews'] = df['reviews'].apply(lambda x: ', '.join(map(str, x)))

In [26]:
df.head()

,show_name,rating_avg,genres,network,premiere_date,status,types,crew,summary,reviews
1,Game of Thrones,9.3,Drama|Adventure|Fantasy,HBO,2011-04-17,Running,Scripted,Katie Weiland|Lisa Byrne|George R. R. Martin|A...,Based on the bestselling book series A Song of...,Do not believe any of those negative reviews. ...
2,Breaking Bad,9.3,Drama|Crime|Thriller,AMC,2008-01-20,Ended,Scripted,Mark Johnson|Gina Scheerer|Andrew Ortner|Vince...,"Breaking Bad follows protagonist Walter White,...",I probably haven't been hooked to a TV show li...
3,Rick and Morty,9.4,Comedy|Adventure|Science-Fiction,Adult Swim,2013-12-02,Running,Animation,Joe Russo II|Dan Guterman|Ryan Ridley|Tom Kauf...,"Rick is a mentally gifted, but sociopathic and...",This show is honestly great. It is easily the ...
4,Sherlock,9.2,Drama|Crime|Mystery,BBC One,2010-07-25,To Be Determined,Scripted,Charlotte Ashby|Jeremy Child|Suzie Lavelle|Nev...,Sherlock Holmes and Dr. John Watson's adventur...,"..with delight. A brilliantly written, well ac..."
5,Last Week Tonight with John Oliver,9.0,Comedy,HBO,2014-04-27,Running,Talk Show,Tim Carvell|Jon Thoday,"On Last Week Tonight with John Oliver, John Ol...",Loved John Oliver on Community and love him on...

In [27]:
# removing commas
df['summary'] = df['summary'].str.replace(',', '')

In [28]:
# removing commas
df['reviews'] = df['reviews'].str.replace(',', '')

In [29]:
df.shape

(1138, 10)

In [30]:
df.dtypes

show_name         object
rating_avg       float64
genres            object
network           object
premiere_date     object
status            object
types             object
crew              object
summary           object
reviews           object
dtype: object

In [31]:
rating_median = df.rating_avg.median()
rating_median

7.8

In [32]:
# converting target to binary class
y = df['rating_avg'].apply(lambda x: 1 if x > rating_median else 0)

In [33]:
y.value_counts()

0    614
1    524
Name: rating_avg, dtype: int64

In [34]:
# baseline accuracy
baseline = 614 / (520 + 614.)
baseline

0.5414462081128748

In [35]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(df[['show_name', 'genres', 'types', 'crew', 'summary']], y, test_size = 0.3, random_state=42)

In [36]:
X_train

,show_name,genres,types,crew,summary
382,The Brink,Comedy|War,Scripted,Kim Benabib|Roberto Benabib,The Brink focuses on a geopolitical crisis and...
977,Web Therapy,Comedy,Scripted,Diane Charles|Dan Bucatinsky|Kyle McNally|Lisa...,Fiona Wallice is a therapist with little patie...
1255,Snooki & JWoww,,Reality,,The show returns with 12 all-new episodes chro...
513,Go On,Comedy,Scripted,Matthew Perry|Aaron Miller|Jon Pollack|Liz Bri...,Following the sudden death of his wife sports ...
752,Kung Fu Panda: Legends of Awesomeness,Adventure|Children,Animation,,"""Kung Fu Panda: Legends of Awesomeness"" is bas..."
...,...,...,...,...,...
1124,Undercover Boss,,Reality,Eli Holzman|Stephen Lambert,Undercover Boss is a reality series that follo...
1192,Vanderpump Rules,,Reality,,Vanderpump Rules follows the passionate volati...
1250,The Inbetweeners,Comedy,Scripted,Brad Copeland|Iain Morris|Damon Beesley|Aaron ...,The Inbetweeners takes a comedic look at a gro...
913,Are You the One?,Drama|Romance,Reality,,Are You the One? will follow a group of 10 sin...
1242,The Powerpuff Girls,Comedy,Animation,,The city of Townsville may be a beautiful bust...

In [37]:
y_train

382     1
977     0
1255    0
513     0
752     1
       ..
1124    1
1192    1
1250    0
913     0
1242    0
Name: rating_avg, Length: 796, dtype: int64

## Creating Vector DF for columns with text in training set

In [38]:
# cv_r = CountVectorizer(ngram_range=(1,3), lowercase=True, max_features=1000, stop_words='english')
# cv_r.fit(X_train['reviews'])
# words_train_r = cv_r.transform(X_train.reviews.values)
# words_train_r = pd.DataFrame(words_train_r.todense(), columns=cv_r.get_feature_names())
# words_train_r.head()

In [39]:
# words_train_r.shape

In [40]:
cv_s = CountVectorizer(ngram_range=(1,3), lowercase=True, max_features=500, stop_words='english', strip_accents='unicode')
cv_s.fit(X_train['summary'])
words_train_s = cv_s.transform(X_train.summary.values)
words_train_s = pd.DataFrame(words_train_s.todense(), columns=cv_s.get_feature_names())
words_train_s.head()

/Users/akinakinlabi/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,10,12,13,abilities,action,actually,adult,adventure,adventures,age,...,working,works,world,wrong,year,year old,years,york,york city,young
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [41]:
words_train_s.shape

(796, 500)

In [42]:
# cv_c = CountVectorizer(ngram_range=(2,2), lowercase=False, max_features=1000, stop_words='english', token_pattern='\w{4,}')
# cv_c.fit(X_train['crew'])
# words_train_c = cv_c.transform(X_train.crew.values)
# words_train_c = pd.DataFrame(words_train_c.todense(), columns=cv_c.get_feature_names())
# words_train_c.head()

In [43]:
cv_c = CountVectorizer(lowercase=False, max_features=500, stop_words='english', tokenizer=(lambda x: x.split('|') ), binary=True, strip_accents='unicode')
cv_c.fit(X_train['crew'])
words_train_c = cv_c.transform(X_train.crew.values)
words_train_c = pd.DataFrame(words_train_c.todense(), columns=cv_c.get_feature_names())
words_train_c.head()

/Users/akinakinlabi/opt/anaconda3/lib/python3.9/site-packages/sklearn/feature_extraction/text.py:524: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(
/Users/akinakinlabi/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,,Aaron Kaplan,Aaron Miller,Adam Armus,Adam Bernstein,Adam Goldworm,Adam Horowitz,Adam McKay,Adam Targum,Adele Lim,...,"Victor Nelli, Jr.",Vincent Angell,Vladimir Stefoff,Wendy O'Brien,Wendy Weidman,Will Arnett,Will Bates,William Klug,Yahlin Chang,Yuri Reese
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
words_train_c.shape

(796, 500)

In [45]:
cv_t = CountVectorizer(lowercase=False, stop_words='english', tokenizer=(lambda x: x.split('|') ), binary=True, strip_accents='unicode')
cv_t.fit(X_train['types'])
words_train_t = cv_t.transform(X_train.types.values)
words_train_t = pd.DataFrame(words_train_t.todense(), columns=cv_t.get_feature_names())
words_train_t.head()

/Users/akinakinlabi/opt/anaconda3/lib/python3.9/site-packages/sklearn/feature_extraction/text.py:524: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(
/Users/akinakinlabi/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Animation,Documentary,Game Show,News,Reality,Scripted,Sports,Talk Show,Variety
0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,1,0,0,0
2,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,0
4,1,0,0,0,0,0,0,0,0

In [46]:
words_train_t.shape

(796, 9)

In [47]:
cv_g = CountVectorizer(lowercase=False, stop_words='english', tokenizer=(lambda x: x.split('|') ), binary=True, strip_accents='unicode')
cv_g.fit(X_train['genres'])
words_train_g = cv_g.transform(X_train.genres.values)
words_train_g = pd.DataFrame(words_train_g.todense(), columns=cv_g.get_feature_names())
words_train_g.head()

/Users/akinakinlabi/opt/anaconda3/lib/python3.9/site-packages/sklearn/feature_extraction/text.py:524: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(
/Users/akinakinlabi/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,,Action,Adult,Adventure,Anime,Children,Comedy,Crime,DIY,Drama,...,Mystery,Nature,Romance,Science-Fiction,Sports,Supernatural,Thriller,Travel,War,Western
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
words_train_g.shape

(796, 29)

In [49]:
# joing data frame together
features_train = pd.concat([words_train_c, words_train_g, words_train_s, words_train_t], axis=1)

In [50]:
features_train.head()

,,Aaron Kaplan,Aaron Miller,Adam Armus,Adam Bernstein,Adam Goldworm,Adam Horowitz,Adam McKay,Adam Targum,Adele Lim,...,young,Animation,Documentary,Game Show,News,Reality,Scripted,Sports,Talk Show,Variety
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [51]:
words_test_s = cv_s.transform(X_test.summary.values)
words_test_s = pd.DataFrame(words_test_s.todense(), columns=cv_s.get_feature_names())

words_test_c = cv_c.transform(X_test.crew.values)
words_test_c = pd.DataFrame(words_test_c.todense(), columns=cv_c.get_feature_names())

words_test_t = cv_t.transform(X_test.types.values)
words_test_t = pd.DataFrame(words_test_t.todense(), columns=cv_t.get_feature_names())

words_test_g = cv_g.transform(X_test.genres.values)
words_test_g = pd.DataFrame(words_test_g.todense(), columns=cv_g.get_feature_names())



features_test = pd.concat([words_test_c, words_test_g, words_test_s, words_test_t], axis=1)

/Users/akinakinlabi/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/Users/akinakinlabi/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/Users/akinakinlabi/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/Users/akinakinlabi/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [52]:
features_test.head()

,,Aaron Kaplan,Aaron Miller,Adam Armus,Adam Bernstein,Adam Goldworm,Adam Horowitz,Adam McKay,Adam Targum,Adele Lim,...,young,Animation,Documentary,Game Show,News,Reality,Scripted,Sports,Talk Show,Variety
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [53]:
# importing more libraries
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier

In [54]:
features_train.shape

(796, 1038)

In [55]:
np.sqrt(796)

28.21347195933177

In [56]:
cv = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)

knn = KNeighborsClassifier(n_neighbors=28, weights='distance')

knn.fit(features_train, y_train)

KNeighborsClassifier(n_neighbors=28, weights='distance')

In [57]:
cross_val_score(knn, features_train, y_train, cv=cv).mean()

0.515253164556962

In [58]:
knn.score(features_test, y_test)

0.47953216374269003

In [59]:
dt = DecisionTreeClassifier(class_weight='balanced')
bdt = BaggingClassifier(DecisionTreeClassifier())
rf = RandomForestClassifier(class_weight='balanced', n_jobs=-1, n_estimators=20, random_state=42)
et = ExtraTreesClassifier(class_weight='balanced', n_jobs=-1)

In [60]:
dt.fit(features_train, y_train)
cross_val_score(dt, features_train, y_train, cv=cv).mean()

0.5303322784810127

In [61]:
dt.score(features_test, y_test)

0.5292397660818714

In [62]:
bdt.fit(features_train, y_train)
cross_val_score(bdt, features_train, y_train, cv=cv).mean()

0.5566455696202531

In [63]:
bdt.score(features_test, y_test)

0.5701754385964912

In [64]:
rf.fit(features_train, y_train)
cross_val_score(rf, features_train, y_train, cv=cv).mean()

0.5680063291139241

In [65]:
rf.score(features_test, y_test)

0.5730994152046783

In [66]:
feature_importances = pd.DataFrame(rf.feature_importances_,
                                   index = features_train.columns,
                                    columns=['importance'])
feature_importances.sort_values(by='importance', ascending=False).head(40)

              importance
turn            0.008947
life            0.008714
Scripted        0.008231
new             0.008006
Drama           0.007636
Crime           0.007434
based           0.006530
series          0.006261
world           0.005596
days            0.005575
family          0.005535
                0.005436
Horror          0.005420
Comedy          0.005397
people          0.005362
Documentary     0.005065
city            0.004949
Children        0.004940
school          0.004925
begins          0.004577
american        0.004499
group           0.004498
make            0.004439
follows         0.004391
day             0.004272
lives           0.004251
actually        0.004220
return          0.004154
help            0.004036
relationship    0.004018
Action          0.003994
history         0.003843
friends         0.003839
highly          0.003822
man             0.003774
amp             0.003772
complex         0.003746
Family          0.003683
takes           0.003659
time            0.003655